<div class="form-group" [formGroup]="form">
    <!-- <div class="text-16-m mb-16 ">{{input.section}}</div> -->
    <input  [formControlName]="input.key"
            [type]="input.type" 
            [name]="input.key"
            [id]="input.key"
            [value]="input.value ? input.value  : ''"
            [placeholder]="input.label" 
            class="input"/>
    <div *ngIf="form.get(input.key).invalid && (form.get(input.key).dirty || form.get(input.key).touched)">
        <container *ngFor="let validator of input.validators">
            <div class="error" *ngIf="form.get(input.key).errors[validator.key]">{{ validator.text }}</div>
        </container>
    </div>
    <pre>{{form.get(input.key).invalid | json}}</pre>
</div>