<form [formGroup]="form" (submit)="submitForm()">
  <div *ngFor="let input of formData">
    <ng-container appDynamicFormInput [input]="input" [form]="form"></ng-container>
    <br>
  </div>
</form>

<!-- <form [formGroup]="form" (submit)="submitForm()">

  <ng-template ngFor let-input [ngForOf]="formData">

    <ng-container [ngSwitch]="input.controlType">
      <ng-template [ngSwitchCase]="'text'">
        <div class="form-group">
          <label [for]="input.key"> {{input.key}}</label>
          <input  [formControlName]="input.key"
                  [type]="input.type" 
                  [name]="input.ley"
                  [id]="input.key"
                  [value]="input.value ? input.value  : ''"
                  [placeholder]="input.label" />
                  <pre>{{form.get(input.key).invalid | json}}</pre>
          <div class="error" *ngIf="form.get(input.key).invalid && (form.get(input.key).dirty || form.get(input.key).touched)">
            <div *ngFor="let validator of input.validators">
              <div *ngIf="form.get(input.key).errors[validator.key]">{{ validator.text }}</div>
            </div>
          </div>
        </div>
      </ng-template>

      <ng-template [ngSwitchCase]="'select'">
        <div class="form-group">
          <label [for]="input.key"> {{input.key}}</label>
          <select [formControlName]="input.controlName"
                  [name]="input.key"
                  [id]="input.key"
                  [required]="input.validators[key] == 'required' ? input.validators[key].value : ''">
          <option value="">{{input.label}}</option>
          <option *ngFor="let option of input.options"
                  [value]="option.value">{{option.key}}</option>
        </select>
      </div>
      </ng-template>

       <ng-template [ngSwitchCase]="'radio'">
        <div *ngFor="let option of input.options" class="form-group row">
          <input [formControlName]="input.controlName" [type]="input.controlType" [name]="input.controlName"
            [value]="option.value" [required]="input.validators.required">
          <label [for]="input.controlName"> {{option.optionName}}</label>
        </div>
      </ng-template>
    </ng-container>

  </ng-template>

  <ng-container *ngIf="form">
    <button type="submit" [disabled]="form.invalid">
      Submit
    </button>
    <div *ngIf="submitted">
      <pre>{{form.value | json}}</pre>
    </div>
    <div *ngIf="!submitted">
      <pre>{{form.value | json}}</pre>
      <pre>{{form.invalid | json}}</pre>
    </div>
  </ng-container>
</form>
 -->